<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Company</title>
</head>
<body>
<form th:method="POST" th:action="@{save}" th:object="${newCompany}">
    <div>
        <label for="name">Name</label>
        <input type="text" th:field="*{name}" id="name">
    </div>
    <div>
        <label for="country">Country</label>
        <input type="text" th:field="*{country}" id="country">
    </div>
    <div>
        <label for="image">Image link</label>
        <input type="text" th:field="*{image}" id="image">
    </div>

    <button type="submit">Save Company</button>

</form>
</body>
</html>